.aether-thread-body {
  background-color: #292B2F;
  font: Times, 14pt;
  padding: 2px;
  border: 1px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.aether-post {
  padding: 2px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.aether-post-infos {
  padding: 2px;
}

.aether-post-cold {
  background-color: #1B2B34;
  border: 1px solid #6699CC;
}

.aether-post-gray {
  background-color: #303236;
  border: 1px solid black;
}

.aether-post-dark {
  background-color: #16222A;
  border: 1px solid white;
}

.purrsist-footer {
  padding: 5px;
  background-color: #16222A;
  border: 1px solid white;
}

.aether-nickname {
  color: #F99157;
}


.clear{
  clear: both;
}

h3, h2 {
  color: #FAC863;
}

a {
  font-size: 110%;
  color: #F99157;
}

.thread-name a {
  font-size: 200%;
  color: #5FB3B3;
}
